<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Login page</title>
</head>

<body>
	<h1>loginpage</h1>
	<div th:if="${error}">
	Unable to login. Check your username and password.
	</div>
	<form th:action="@{/certificapp/login}" method="post">
		<input id="usuario" name="usuario" type="text" placeholder="usuario">
		<br>
		<input id="password" name="password" type="password" placeholder="password">
		<br>
		<button type="submit">Login</button>
	</form>
	<form action="/certificapp/register">
		<input type="submit" value="Register" />
	</form>

</body>

</html>