<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>MAIN MENU</title>
	</head>
	<body>
		<h1>MAIN MENU</h1>
		<p> Welcome <b><span sec:authentication="name"></span></b>
		<p> principal <b><span sec:authentication="principal.authorities"></span></b>
        </p>
		<form th:action="@{/register}" method="post">
			<input name="username" type="text" placeholder="Username">
			<input name="password" type="password" placeholder="password">
			<input type="submit" value="Login"> 
		</form>
		<a href="/">Pagina principal</a>
	</body>
</html>